<div class="container">

<h1 class="mt-3">Category List</h1>

<div class ="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/categories/add']" class="btn btn-primary">Add Category</a>
</div>

<ng-container *ngIf="categories">
<div class="container">
<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Url Handle</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.Id}}</td>
        <td>{{category.Name}}</td>
        <td>{{category.UrlHandle}}</td>
        <td><a [routerLink]="['/admin/categories/update', category.Id]" class="btn btn-primary" >Edit</a></td>
        <td><a [routerLink]="['/admin/categories/delete', category.Id]" class="btn btn-danger">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>
</ng-container>


